@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.body-home,  .body-login {
  background: url("images/Background.jpg") ;
  background-size: cover;
  background-attachment: fixed;
  
}

.black-fill{
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    
}
#homeNov {
    background: rgba(10, 227, 243, 0.8) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  
}
.welcome-text {
    min-height: 80vh; 
    border-radius: 10px;
}
.welcome-text img {
    width: 500px;
} 
.welcome-text h4 {
    color: #eee;
    font-size: 51px;
    font-family: "Lobster", sans-serif;
}
.welcome-text p {
    color: #222; 
     background: rgba(10, 227, 243, 0.8) !important;
     padding: 5px;
   
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    text-align: center;
}
#about {
    min-height: 100vh;
}
.card-1 {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
background: rgba(10, 227, 243, 0.8);
}
#about .card-1 {
    max-width: 600px;
    width: 90%;
    
     padding: 20px;
     border-radius: 5px;
}
#about .card-1 h5{
     font-family: "Lobster", sans-serif;
     font-size: 32px;
}
#contact{
    min-height: 100vh;
}
#contact form{
    max-width: 600px;
    width: 90%;
    background: rgba(10, 227, 243, 0.8);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
#contact form h3{
    text-align: center;
    font-family: "Lobster", sans-serif;
}
textarea{
    resize: none;
}
.login{
    max-width: 600px;
    width: 90%;
    background: rgba(10, 227, 243, 0.8);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}
.login h3{
    text-align: center;
    font-size: 50px;
}
    